@model HotDogLover.DAL.HotDog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HotDog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPlaceAte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPlaceAte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HotDogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
